* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* .first .second.third {

  font-size: 16px;
} */
  
  /* body {
    background: #eee;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 256px;
    height: 100%;
    
  } */
  
  /* header, footer { 
    flex: none; 
  } */
